@import "tailwindcss";
.navbar {
  @apply flex justify-between items-center py-1 px-6 text-white;
}
.nav-links {
  @apply flex list-none gap-5 m-0 p-0;
}
.nav-link-item {
  @apply text-white no-underline font-bold transition-all duration-300;
  @apply hover:text-white;
 
}
/* Pill Container */
.auth-pill-container {
  @apply flex gap-1.5;
}

/* Shared Button Styles */
.pill-btn {
  @apply px-6 py-2.5 rounded-full border-none cursor-pointer font-semibold shadow-md;
  @apply bg-white text-black transition-all duration-300;
  @apply hover:text-black hover:scale-105 shadow-xl active:scale-95;
}
